:root {
  --bodybg: #9ba9eb;
  --cardbg: #5763a5;
  --textcolor: #f8fafc;
  --inputcolor: #c3caea;
  --inputText: #454f84;
  --buttonbg: #0b69ff;
  --border: #b6c3ca;
  --cementblue: #7683cb;
  --yelloworange: #f59e0b;
  --darkorange: #f97316;
  --pale: #10b981;
  --skypales: #14b8a6;
  --brown: #b91c1c;
  --white: #ffffff;
  --darkblue: #0ea5e9;
  --darkcement: #64748b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
