@import url('./colors.css');

body {
  background-color: var(--bodybg);
}
.main-container {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.logo-container {
  width: 10rem;
  height: 3rem;
}
.logo {
  width: 100%;
}
.cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.bottom-container {
  background-color: var(--cardbg);
  padding: 0.5rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: auto;
  height: auto;
  background-color: transparent;
  color: var(--textcolor);
}
.password-count {
  width: 20px;
  height: 30px;
  text-align: center;
  color: var(--textcolor);
  border: 1px solid var(--textcolor);
  font-size: 1rem;
  background-color: var(--inputText);
  border-radius: 1rem;
}
.header-right {
  width: auto;
  height: auto;
  background-color: var(--textcolor);
  border-radius: 0.3rem;
  display: flex;
}
.search-icon {
  width: 1rem;
}
.search-icon-container {
  width: auto;
}
.search-input {
  background-color: transparent;
  width: auto;
  padding: 0.3rem;
  outline: none;
  border: none;
  border-left: 1px solid var(--border);
}
.divider {
  width: 100%;
  background-color: var(--border);
  height: 1px;
  border: none;
  margin: 0.7rem;
}
.password-cards-container {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  justify-content: center;
}
.no-passwords-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.no-paswords-image {
  width: 80%;
}
.no-passwords-text {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}
.starred-container {
  align-self: flex-end;
  margin: 1rem;
}
.checkbox {
  width: 1rem;
  margin-left: 0.5rem;
}
.checkbox-label {
  color: var(--white);
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  margin-right: 1rem;
}
.header-left-heading {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}
